body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.qrBox{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 850px;
    height: 580px;
    background-color: #89C4CB;
    flex-direction: column;
    gap:15px;
}
.info{
    font-weight:bold;
    color: white;
    font-size: 40px;
}
.qrBox img{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 250px;
    height: 250px;
}
.id{
    font-weight:bold;
    font-size: 25px;
}